{% extends "base.html" %}

{% block body_class %}page-visit{% endblock %}

{% block content %}
{% include "partials/breadcrumbs.html" %}

<section class="container section-block">
  <h1>بازدید حضوری از زاد</h1>
  <p class="intro-text">برای بررسی کیفیت گل‌ها و انتخاب نزدیک، حضوری تشریف بیاورید. تیم زاد قبل از مراجعه هم هماهنگی کوتاه انجام می‌دهد.</p>
  <div class="meta-row">
    <span>{{ site_opening_hours_text }}</span>
    <span>{{ site_response_time_text }}</span>
    <span>{{ site_address_text }}</span>
  </div>
  <div class="cta-row">
    <a href="{{ site_call_href }}" class="btn btn-call" data-cta-position="inline">تماس فوری</a>
    <a href="{{ site_whatsapp_href }}" class="btn btn-wa" data-cta-position="inline">واتساپ برای سفارش</a>
  </div>
</section>

<section class="container section-block">
  {% include "partials/lead_form.html" with lead_form=lead_form lead_default_type=lead_default_type cta_position="inline" %}
</section>

{% endblock %}
